.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/* If a pop-up has no content, then it's width and height must be specified */
body {
    overflow: hidden;
    font: normal 12px Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #fff;
    background-color: rgb(4,5,5);
    /* use this to keep all text from being selectable to maintain a more app-like experience
    otherwise it's possible to highlight/select an entire pokki window  */
    -webkit-user-select: none;
    cursor: default;
}

/* Pokki wrapper div */
#wrapper {
    margin: auto;
    width: 700px;
    height: 600px;
    position: relative;
    opacity: 0;
    background-color: #fff7ee;
}
#wrapper.show { 
    opacity: 1; 
    -webkit-animation-name: fadein;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 300ms;
}

/* Minimize Pokki button */
a#minimize {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 21px;
    height: 12px;
    cursor: pointer;
    background: #555 url(../img/minimize.png) 0px -2px no-repeat;
    border-bottom-left-radius: 3px;
    -webkit-transition: background-color 0.3s linear;
}
a#minimize:hover {
    background-color: #383d43;
}
a#minimize:active {
    background-position: 0px -1px;
}

h1 {
    margin-bottom: 5px; 
    font-size: 14px;
}
.show h1 {
    -webkit-animation-name: staggerdelay, stagger;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 100ms, 300ms;
    -webkit-animation-delay: 0ms, 100ms;
}
h2 {
    margin-bottom: 3px;
}
.show h2 {
    -webkit-animation-name: staggerdelay, stagger;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 200ms, 300ms;
    -webkit-animation-delay: 0ms, 200ms;
}

/* Scrollable area */
.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    height: 253px;
}
/* Offset content inside of scrollable area so that it doesn't hug the scrollbar */
.scrollable .pokki-content { 
    margin-right: 10px; 
}
    
/* Custom CSS scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
	background: none;
}
::-webkit-scrollbar-track:vertical { 
    background: none; 
}
::-webkit-scrollbar-thumb {
    width: 8px; height: 20px;
    background: #555;
    border-radius: 5px;
}
::-webkit-scrollbar-button: { 
    display: none; 
}

#pokki-content
{
    padding: 73px 5px 15px 15px;
}

#pokki-content p
{ 
    margin-bottom: 15px; 
    line-height: 18px;
}

#pokki-header
{
	background-image:url(../files/headtitle.jpg);
	background-repeat:no-repeat;
	background-position:left;
	background-color:#a5653a;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
	width:700px;
	height:60px;
}

#pokki-footer-left
{
    position: absolute;
    bottom: 8px;
    left: 15px;
	text-align:left;
	font:10px arial,sans-serif;;
	color:#a5653a;
}

#pokki-footer-right
{
    position: absolute;
    bottom: 8px;
    right: 75px;
	text-align:right;
	font:10px arial,sans-serif;;
	color:#a5653a;
}

#pokki-slogan
{
	float:right;
	margin-top: 35px;
	margin-right:15px;
	font:16px calibri,arial,sans-serif;
	font-style:italic;
	font-weight:bold;
	color:#fff7ee;
	text-align:right;
	text-shadow: 0px 0px 30px #ff9900;
}

a.pokki-link:hover
{
	color:black;
	text-decoration:none;
}

a#pokki-sfxon
{
    display: block;
    position: absolute;
    bottom: 22px;
    right: 43px;
    width: 26px;
    height: 16px;
    background: transparent url(../files/on_hover.png) no-repeat; 
    background-position: 0px -16px;
}
a#pokki-sfxon:hover
{
    background-position: 0px 0px;     
}
img.pokki-sfxon
{
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 22px;
    right: 43px;
    width: 26px;
    height: 16px;
}

a#pokki-sfxoff
{
    display: block;
    position: absolute;
    bottom: 22px;
    right: 15px;
    width: 26px;
    height: 16px;
    background: transparent url(../files/off_hover.png) no-repeat; 
    background-position: 0px -16px;
}
a#pokki-sfxoff:hover
{
    background-position: 0px 0px;     
}
img.pokki-sfxoff
{
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 22px;
    right: 15px;
    width: 26px;
    height: 16px;
}

a#pokki-badgeon
{
    display: block;
    position: absolute;
    bottom: 5px;
    right: 43px;
    width: 26px;
    height: 16px;
    background: transparent url(../files/on_hover.png) no-repeat; 
    background-position: 0px -16px;
}
a#pokki-badgeon:hover
{
    background-position: 0px 0px;     
}
img.pokki-badgeon
{
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 5px;
    right: 43px;
    width: 26px;
    height: 16px;
}

a#pokki-badgeoff
{
    display: block;
    position: absolute;
    bottom: 5px;
    right: 15px;
    width: 26px;
    height: 16px;
    background: transparent url(../files/off_hover.png) no-repeat; 
    background-position: 0px -16px;
}
a#pokki-badgeoff:hover
{
    background-position: 0px 0px;     
}
img.pokki-badgeoff
{
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 5px;
    right: 15px;
    width: 26px;
    height: 16px;
}
