@charset "utf-8";
/* CSS Document */

body
{ 
	/*background-image:url('files/bg.jpg');*/
	background-color:#ffedd9;
	background-repeat:repeat-y;
	/*background-attachment:fixed;*/
	background-position:center;
	margin:0px;
	padding:0px;
}

p
{
	margin:0px;	
}

a:link,a:visited
{
	color:#4aa08b;
	background-color:transparent;
	text-decoration:none;
}
a:active
{
	color:#70d8be;
	background-color:transparent;
	text-decoration:none;
}


canvas
{
	/*background-color:#000000;*/
}

#wrap-header
{
	margin:0px;
	background-color:#a5653a;
}

#header
{
	background-image:url(headtitle.jpg);
	background-repeat:no-repeat;
	background-position:left;
	margin-left:auto;
	margin-right:auto;	
	width:950px;
	height:60px;
}

#headtitle
{
	padding-left:0px;
}

#slogan
{
	float:right;
	margin-top: 31px;
	margin-right:20px;
	font:20px calibri,arial,sans-serif;
	font-style:italic;
	font-weight:bold;
	color:#fff7ee;
	text-align:right;
	text-shadow: 0px 0px 30px #ff9900;
}
#quote
{
	float:right;
	width:200px;
	height:60px;
	font:10px georgia,times,serif;
	font-style:italic;
	color:#e7aa5e;
	text-align:center;
	margin-top:10px;
	margin-right:20px;
}

#wrap-content
{
	margin:0px;
	background-image:url(content-bg.gif);
	background-repeat:repeat-y;
	background-position:center;
}

#navigation
{
	font:20px calibri,arial,sans-serif;
	font-weight:bold;
	text-decoration:none;
	margin-left:auto;
	margin-right:auto;
	padding:8px 16px 8px 16px;
	width:918px;
}
a.nav-item:hover
{
	color:#fff7ee;
	background-color:#4aa08b;
	text-decoration:none;
}

#content
{
	background-color:#fff7ee;
	margin-left:auto;
	margin-right:auto;
	padding:0px 16px 0px 16px;
	width:918px;
	height:496px;
}

#content2
{
	background-color:#fff7ee;
	margin-left:auto;
	margin-right:auto;
	padding:0px 16px 0px 16px;
	width:918px;
	height:1966px;
}

#canvas-box
{
	float:left;
	background-image:url(canvas-bg.gif);
	width:480px;
	height:480px;
	padding:3px;
	margin-left:16px;
}

#canvas-box2
{
    position:relative;
    width:480px;
    height:480px;
}

#stats
{
   	float:left;
	background-image:url(bg-stats.jpg);
	width:170px;
	height:480px;
}

#stats-0
{
	height:50px;
}
#stats-2
{
	height:43px;
}
#stats-4
{
	height:41px;
}
#stats-6
{
	height:41px;
}
#stats-8
{
	height:52px;
}
#stats-10
{
	height:35px;
}

div.filler
{
	background-color:transparent;
}
div.digits
{
	background-color:transparent;
	color:#000000;
	font:24px calibri,arial,sans-serif;
	font-weight:bold;
	text-align:center;
}

div#bestEver
{
	background-color:transparent;
	color:#000000;
	font:18px calibri,arial,sans-serif;
	font-weight:bold;
	text-align:center;
    margin-left: 86px;
    height: 24px;
    line-height: 24px;
}
div#weeksBest
{
	background-color:transparent;
	color:#000000;
	font:16px calibri,arial,sans-serif;
	text-align:center;
    margin-left: 86px;
    height: 24px;
    line-height: 24px;
}
div#todaysBest
{
	background-color:transparent;
	color:#000000;
	font:14px calibri,arial,sans-serif;
	text-align:center;
    margin-left: 86px;
    height: 24px;
    line-height: 24px;
}

#feed
{
	float:right;
}

#wrap-footer
{
	margin:0px;
	background-image:url(footer-bg.gif);
	background-repeat:no-repeat;
	background-position:top;
}

#footer
{
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	padding-top:6px;
	text-align:center;
	font:10px arial,sans-serif;;
	color:#a5653a;
	height:20px;
}

#faq
{
    width: 727px;
    height: 1966px;
	margin:auto;
}

#nocanvas
{
    text-align: center;
    margin-top: 200px;
	font:arial,sans-serif;
	color:#a5653a;
}

#twitterApples
{
    margin-top: 15px;
    height: 42px;
    background-image: url(bg-twitterapples.jpg);
	background-repeat:no-repeat;
}

div#appleTweet
{
    padding-top: 20px;
    padding-left: 35px;
}

input#appleTweet
{
	font:12px calibri,arial,sans-serif;
}

#victoryTweet
{
	font:12px calibri,arial,sans-serif;
    position: absolute;
    top: 405px;
    left: 275px;
    width: 60px;
    height: 20px;
}

#facebookCollege
{
    margin-top: 15px;
    height: 38px;
    background-image: url(bg-facebook.jpg);
	background-repeat:no-repeat;
}
